[submodule "markmapper"]
	path = reference/markmapper
	url = https://github.com/laquereric/markmapper.git
[submodule "marklogic12"]
	path = reference/marklogic12
	url = https://github.com/laquereric/marklogic12.git
[submodule "reference/roxy"]
	path = reference/roxy
	url = https://github.com/laquereric/roxy.git
[submodule "vendor/marklogic-core"]
	path = vendor/marklogic-core
	url = https://github.com/laquereric/marklogic-core.git
[submodule "references/vector-mcp"]
	path = references/vector-mcp
	url = https://github.com/laquereric/vector-mcp.git
[submodule "vendor/leann-gem"]
	path = vendor/leann-gem
	url = https://github.com/laquereric/leann-gem.git
